<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
      @import "http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic";
      {{style}}
    </style>
</head>
<body>
  <header>
    <figure>
     <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Neko_Wikipe-tan.svg" alt="neko">
     <figcaption>Hello!</figcaption>
    </figure>
    <nav>
      <ul>
        <li><a href="prologue">Prologue</a></li>
        <li><a href="chronology">Chronologie</a></li>
        <li><a href="tree">Diagnostique</a></li>
        <li><a href="map">Cartographie</a></li>
        <li><a href="about">À propos</a></li>
        <li><a href="help">Aide</a></li>
      </ul>
    </nav>
  </header>
  <aside>
    <article>
      <p>`Pasteur-Reference` est un Site Web qui ce veut synthétiser toute la connaissance sur l'autisme.</p>

      <p>Vous trouverez à :</p>
      <li>Chronologie : la liste des thèses, articles [...]</li>
      <li>Arbre : diagnostique...</li>
      <li>Carte...</li>

      <p>Et le nom de la nekoe est Mariane.</p>
    </article>
  </aside>
</body>
</html>
