<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
      @import "http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic";
      {{style}}
    </style>
</head>
<body>
  <header>
    <figure>
     <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Neko_Wikipe-tan.svg" alt="neko">
     <figcaption>Hello!</figcaption>
    </figure>
    <nav>
      <ul>
        <li><a href="prologue">Prologue</a></li>
      </ul>
    </nav>
  </header>
  <aside>
    <article>
    </article>
  </aside>
</body>
</html>
