<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">{{style}}</style>
</head>
<body>

<h1><a href="">{{description}}</a></h1>
<p><a href="">{{proceed}}</a></p>

</body>
</html>
